body {
    background-color: rgba(26, 40, 99, 0.726);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 { 
    color: rgb(235, 203, 64);
    text-align: center;
    text-decoration: underline;
}

.friend { 
    background-color: #adc0ffc7;
    text-align: center;
}

.friend > h3 { 
    text-transform: uppercase;
}

